{% load static %}
<!DOCTYPE html>
<html lang="es">
<link rel="stylesheet" href="{% static 'chatbot.css' %}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bAImax - Búsqueda</title>
    
</head>
<body>
    <div class="header">
        <h1>bAImax</h1>
    </div>
    <div class="search-container">
        <div class="search-bar">
            <form action="#" method="GET">
                <input type="text" name="search" placeholder="Escribe tus sintomas...">
                <input type="submit" value="Consultar">
            </form>
        </div>
    </div>
</body>
</html>