{% extends 'base2.html' %}
{% block content %}
{% load static %}
<title>Log In</title>

<link rel="stylesheet" href="{% static 'loginsignup.css' %}">
<div class="nonavbar">
    <form method="POST"  autocomplete="oFF"  class="contenedor">
        <h2 class="texto">Log In</h2>
        {% csrf_token %}
        {{loginform.as_p}}
        <input type="submit" value="Login" />
        <p class="cuenta">Don't have an account? <a class="signuplogin" href="/signup">Signup</a></p>
    </form>
</div>
{% endblock content %}

