@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

.navbar{
    padding: 0px;
    font-family: Madimi One;
}
.container-fluid{
    background-color: #001c55;
}
.logo{
    max-height: 60px;
}
.nav-link{
    color:  #a6e1fa;
    background-color: #001c55;
    border-radius: 25px;
    font-size: large;
}
.nav-link:hover{
    color: #f0f0f0;
    background-color: #0A2472;
}
.navbar-brand{
    color: #a6e1fa;
    transition: all ease .2s;
    font-size: x-large;
}
.navbar-brand:hover{
    color: #f0f0f0;
    scale: 1.2;
}
.navbar-toggler{
    background-color: #0A2472;
    border-color: #a6e1fa;
}
