body {
    margin: 0;
    padding: 0;
}

.contenedor {
    font-family: Arial, sans-serif;
    background-color: #00072D;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    display: flex;
    align-items: center;
    
}

.chat-container {
    text-align: center;
    height: 80%;
    width: 90%;
    display: flex;
    flex-direction: column;
    
}

#display{
    display: flex;
    flex-direction: column-reverse;
    overflow-y: scroll;
    height: 100%;
    
}

#display::-webkit-scrollbar{
    display: none;
}

.chat-bar{
    width: 70%;
    padding: 8px;
    background-color: #001C55;
    width: 100%;
    display: flex;
    border-radius: 15px;
}

#message{
    width: 100%;
    background-color: transparent;
    border: transparent;
    outline: none;
    caret-color: #A6E1FA;
}

#message::placeholder { 
    color: #0E6BA8;
    font-weight: bold;
}

#Send {
    width: 7%;
    padding: .8em;
    background-color: #0A2472;
    color: #0E6BA8;
    font-weight: bold;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin-left: auto;
}

.submit:hover {
    background-color: #001B6A;
}

.message{
    margin: 1.5em; 
    width: 50%;   
    padding: 1em 0px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    
}

.message p{
    margin-left: 1em;
    word-wrap: break-word;
    text-align: start;
}

.messageUser{
    align-self:flex-start;
    background-color: #A6E1FA;
}

.messageUser b{
    align-self: flex-start;
    padding-left: 1em;
    padding-right: 1em;
}
.messageBot{
    align-self: flex-end;
    background-color: #0E6BA8;
}
.time{
    color: rgb(96, 96, 96);
    font-weight: lighter;
}

