body {
    margin: 0;
    padding: 0;
}

.contenedor {
    font-family: Arial, sans-serif;
    background-color: #00072D;
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: end;
    justify-content: center;
}

.search-container {
    text-align: center;
    margin-top: 50px;
}



.search-container input[type="text"] {
    width: 70%;
    padding: 8px;
    background-color: #001C55;
    width: 100%;
}

.search::placeholder { 
    color: #0E6BA8;
    font-weight: bold;
}

.submit {
    width: 7%;
    padding: .8em;
    background-color: #0A2472;
    color: #0E6BA8;
    font-weight: bold;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

.submit:hover {
    background-color: #001B6A;
}


