body {
    margin: 0;
    padding: 0;
}

.contenedor {
    font-family: Arial, sans-serif;
    background-color: #00072D;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.photo {
    display: flex;
}

.robot {
    width: 410px;
    height: 370px;
    justify-self: end;
    margin-left: auto;
}

@media(max-width:768px) {
    .robot {
        display: none;
    }
}

